* {
  box-sizing: border-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
body {
  background-color: white;
}
.sub-nav {
  display: flex;
  color: white;
  background-color: #222222;
  align-items: center;
}
.sub-nav span {
  padding-left: 60px;
  text-align: left;
  font-family: "Roboto";
  font-size: 10px;
  font-style: normal;
}
.menu-options {
  align-items: center;
  margin-left: auto;
  margin-right: 15px;
}
.menu-options select {
  color: white;
  background-color: #222222;
  margin-right: 10px;
}
.nav-bar {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  background-color: #f0a83e;
  height: 80px;
  align-items: center;
}
.nav-bar h2{
  font-family: 'Roboto';
  font-style: normal;
  font-size: 20px;
  color: #3C2313;
}
.nav-bar span{
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 20px;
}
.nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.nav-bar li {
  color: white;
  margin-right: 25px;
  cursor: pointer;
}
.nav-bar img {
  width: 20px;
}
.products-showroom h3 {
  font-family: "Roboto";
  font-style: normal;
  font-size: 15px;
  color: #3c2313;
}

.welcome-image img {
  display: block;
  width: 100%;
}
.welcome-info {
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
}
.welcome-title {
  margin-left: 1180px;
  margin-top: 320px;
  color: black;
  background-color: white;
  font-family: "Roboto";
  font-style: normal;
  font-size: 40px;
}
.welcome-description {
  font-size: 20px;
  color: black;
  margin-top: 20px;
  margin-left: 1290px;
}
.welcome-info button {
  background-color: #f0a83e;
  font-size: 40px;
  color: white;
  margin-top: 20px;
  margin-left: 1250px;
  padding: 20px;
}
.products-description {
  display: block;
  margin: auto;
  text-align: center;
}
.products-description img {
  width: 150px;
  height: 150px;
  margin-top: 30px;
}
.products-description h2 {
  font-family: "Roboto";
  font-style: normal;
  font-size: 40px;
  color: #3c2313;
  padding-bottom: 10px;
}
.products-showroom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.products-showroom h3 {
  position: relative;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  color: #3c2313;
}
.products-showroom p {
  font-family: "Roboto";
  font-size: 15px;
  font-style: normal;
  color: #f0a83e;
}
.product-one,
.product-two,
.product-three {
  width: 100%;
  text-align: center;
  margin: 20px;
}
.product-one img,
.product-two img,
.product-three img {
  width: 80%;
  margin: auto;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contact h2 {
  font-family: "Roboto";
  font-style: normal;
  font-size: 25px;
  color: #3c2313;
}
.contact input {
  color: white;
  border-radius: 15px;
  background-color: #3c2313;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 150px;
  padding-right: 150px;
}
.contact input::placeholder {
  text-align: center;
  color: white;
}
.reset-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #8a8787;
  border-radius: 15px;
}
.send-button {
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #f0a83e;
  border-radius: 15px;
}
.subscribe {
  padding: 30px;
  margin: 70px auto;
  display: flex;
  justify-content: space-around;
  background-color: #f0a83e;
}
.suscribe-image-text{
  gap: 10px;
  display: flex;
}
.suscribe-image-text h2{
  color: white;
}
.suscribe-buttons{
  margin-right: 50px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
.suscribe-buttons button{
  border-radius: 20px;
  text-align: center;
  color: white;
  background-color: #3C2313;
}
.suscribe-buttons input{
  border-radius: 20px;
}
.suscribe-buttons input::placeholder{
  text-align: left;
}
footer{
  background-color: #3C2313;
  padding: 0;
  margin: 0;
}
.location{
  margin-top: 60px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
}
.location img{
  position: absolute;
  width: 100px;
  height: 90px;
}
.location-information{
  padding-left: 120px;
  padding-top: 20px;
}
.location-information h2{
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-size:20px;
}
.location-information p{
  color: #8A8787;
  font-family: 'Roboto';
  font-style: normal;
  font-size:20px;
}
.phone{
  margin-top: 60px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
}
.phone img{
  position: absolute;
  width: 100px;
  height: 90px;
}
.phone-information{
  padding-left: 120px;
  padding-top: 20px;
}
.phone-information h2{
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-size:20px;
}
.phone-information p{
  color: #8A8787;
  font-family: 'Roboto';
  font-style: normal;
  font-size:20px;
}
.email{
  margin-top: 60px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
}
.email img{
  position: absolute;
  width: 100px;
  height: 90px;
}
.email-information{
  padding-top: 20px;
  padding-left: 120px;
}
.email-information h2{
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-size:20px;
}
.email-information p{
  color: #8A8787;
  font-family: 'Roboto';
  font-style: normal;
  font-size:20px;
}
.email img{
  position: absolute;
  width: 100px;
  height: 90px;
}
.copyright{
  font-size: 20px;
  text-align: center;
  color: white;
  margin-top: 70px;
  background-color: black;
}
.frontAndCatDog{
  display: flex;
  justify-content: flex-end;
  padding-right: 270px;
}
.frontAndCatDog img{
  width: 30px;
}
.frontAndCatDog p{
  color: white;
  font-style: 'Roboto';
  font-style: normal;
  font-size: 35px;
}
.frontAndCatDog span{
  font-family: 'Roboto';
  font-style: normal;
  font-size: 35px;
  color: #f0a83e;
}
